$sm: 320px;
$md: 770px;

.full-width {
  width: 100%;
}

.nav-sidebar li {
  background-color: #EEE;
}

.jumbotron {
  background-color: #FBFBFB;
}

.sidebar {
  position: inherit;
}

.side-card {
  @extend .jumbotron;
  padding: 10px;

  .img-circle {
    width: 50%;
  }
}

.display-inline-block {
  display: inline-block;
}

.padding-small {
  padding: 10px;
}

.margin-none {
  margin: 0;
}

body {
  background-image: url('/assets/background.jpg');
}

@media screen and (min-width: $sm) {
  .nav-sidebar li {
    margin: 5px auto;
  }
}

@media screen and (min-width: $md) {
  .sidebar {
    position: fixed;
    top: 10px;
    left: 10px;
  }
}
