<section>
    <h1>JBurchard.com</h1>

    <p>This is yet another software blog, and I am just another software engineer.</p>
    <p>I specialize in front end development and I like to share some of the cooler things I get to work on.</p>
    <p>Check out <a href="/gulp">Generic Gulp</a> for a quick read on extreme code reuse in Gulp.</p>
    <p>
        If that doesn't interest you, check out <a href="http://josiah1888.github.io/#/level/1">TapTap</a>,
        my rhythm based angular app for pencil tappers.
    </p>
</section>