	<section id="sidebar">
		<div class="profile-image">
			<img src="/images/josiah-burchard.jpg" class="profile-image__image" />
		</div>

		<div class="social">
			<a target="_blank" class="social__link" href="https://github.com/josiah1888/"><i class="icon fa-github"></i></a>
			<a target="_blank" class="social__link" href="https://www.linkedin.com/in/josiahburchard"><i class="icon fa-linkedin"></i></a>
			<a target="_blank" class="social__link" href="https://www.facebook.com/Josiah.Burchard"><i class="icon fa-facebook"></i></a>
			<a target="_blank" class="social__link" href="https://twitter.com/JosiahBurchard"><i class="icon fa-twitter"></i></a>
			<a target="_blank" class="social__link js-menuToggle menu-toggle" href="#"><i class="icon fa-bars"></i></a>
		</div>

		<div class="inner menu js-menu">
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/resume.pdf">Resume</a></li>
					<li><a href="/blog/">Blog</a></li>
				</ul>
			</nav>
		</div>

		<div class="inner">
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
                    <!-- inject:sidebar-links:html -->
	                <!-- endinject -->
					<li><a href="/resume.pdf">Resume</a></li>
					<li><a href="/blog/">Blog</a></li>
				</ul>
			</nav>
		</div>
	</section>