.feature {
    padding: 3.5em 3em 1em 7em;
    width: 50%;
    border-top: solid 1px rgba(255, 255, 255, 0.15);
    position: relative;
}

.features section {
    padding: 0;
    width: 100%;
    border-top: none;
    position: unset;
}

.spotlights > section > .image {
    background-size: 100%;
    background-repeat: no-repeat;
}