.display-none {
    display: none;
}

.float-right {
    float: right;
}

@media screen and (max-width: 1280px) { 
    .social {
        position: absolute;
        left: 30px;
    }
    .profile-image {
        display: none;
    }
}

.social {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -moz-transition: opacity 1s ease;
    -webkit-transition: opacity 1s ease;
    -ms-transition: opacity 1s ease;
    transition: opacity 1s ease;
    opacity: 1;
    z-index: 1000;
}

.social .icon {
    font-size: 30px;
    margin: 0 10px;
    display: inline;
    text-decoration: none;
}

.profile-image {
    text-align: center;
}

.profile-image .profile-image__image {
    border-radius: 35%;
    width: 200px;
}

.social__link {
    border-bottom: none;
}

@media screen and (max-width: 736px) {
    #sidebar {
        display: unset;
        height: 3.0em;
    }
    
    #sidebar .inner {
        display: none;
    }
    
    .social {
        left: initial;
        width: 100%;
    }
    
    .social .icon {
        font-size: 25px;
    }
}

.icon-code {
    display: none;
    padding: 10px 30px;
    border-bottom: 1px dashed #fff;
    border-left: 1px dashed #fff;
    position: absolute;
    top: 0 !important;
    right: 0;
    left: initial !important;
    font-size: 35px;
}

.features section:hover .icon-code {
    display: unset;
}
.spotlights > section > .image {
    background-size: contain;
    background-repeat: no-repeat;
}